* {
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  color: #713452;
  font-family: "Marcellus SC", serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.chocchunkpic {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  top: 20%;
  right: 30%;
  width: 52%;
}

h4 {
  font-size: 40px;
  font-family: "Poiret One", cursive;
}
h2,
h3 {
  font-size: 34px;
}

h1 {
  font-family: "Poiret One", cursive;
  font-size: 56px;
  text-align: center;
}

input[type="submit"] {
  padding: 10px;
  font-family: "Poiret One", cursive;
  font-size: 24px;
  width: 40%;
  margin-top: 35px;
  border: 1px, solid, #713452;
  margin-bottom: 35px;
}

input[type="number"] {
  padding: 4px;
  border: 2px, solid, #713452;
  border-radius: 3px;
  width: 20%;
  margin-left: 15px;
}

input[type="text"] {
  padding: 4px;
  border: 2px, solid, #713452;
  border-radius: 3px;
  width: 80%;
  margin-left: 15px;
}
.free {
  display: flex;
  flex-direction: row;
}

input[type="checkbox"] {
  padding-right: 10px;
  padding-left: 20px;
}
.checkentry {
  padding-right: 10px;
  padding-left: 40px;
}
/*.chbox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 10px;
}

.chbox:nth-child {
  display: flex;
  flex-direction: row;
}*/

button:hover {
  cursor: pointer;
}

form {
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}
.entry {
  padding: 20px;
}
.box:nth-child(1) {
  background-color: #8fbfc8;
  margin-bottom: 3px;
  text-align: center;
  margin: 4px;
  justify-content: center;
  
}
.recipeimage{
  transform: scale(1,1);
  transition: transform 0.5s ease
}

.recipeimage:hover{
   transform: scale(1.2,1.2)
}
.box:nth-child(2) {
  background-color: white;
  max-width: 100%;
  text-align: center;
  margin: 4px;
   justify-content: center;
   align-items: center;
  
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

a:link {
  color: #8fbfc8;
  text-decoration: none;
  font-family: "Poiret One", cursive;
  font-size: 40px;
  padding: 3px;
}

a:visited {
  color: #8fbfc8;
}

a:hover {
  color: #3a3f40;
}

a:active {
  color: #713452;
}

@media screen and (min-width: 300px) {
  .box {
    flex-basis: 100%;
    justify-content: space-between;
    max-width: 100%;
  }
  .results {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 600px) {
  .box {
    flex-basis: 100%;
    justify-content: space-between;
    max-width: 100%;
  }

  .results {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .box {
    justify-content: space-between;
    flex-basis: 49%;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .results {
    display: flex;
    flex-direction: row;
  }
}
